@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0E0E12;
}

@font-face {
  font-family: 'Pilot Command';
  src: url('/pilotcommand1_2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Modern Sans';
  src: url('/ModernSans-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'orbitron';
  src: url('/orbitron.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}